{% extends 'base.html.twig' %}

{% block title %}Hello Profile
		Controller!
{% endblock %}

{% block body %}

	<h1>Votre profil</h1>

	<p>Email :
		{{ user.email }}
	</p>
	{% if user.avatar %}
		<div style="width: 5rem; background-color: #333">
			<img style="width: 5rem;" src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="">
		</div>
		<a href="{{ path('app_profile_avatar') }}">Modifier votre avatar</a>
	{% else %}
		<a href="{{ path('app_profile_avatar') }}">Ajouter un avatar</a>
	{% endif %}

{% endblock %}
